.main_banner  {position:relative;}

.main_banner .main_banner_img {position: relative;}
.main_banner .main_banner_img .slick-list {}
.main_banner .main_banner_img .slick-slide {width:100vw;height:100vh;background-size:cover !important;background-repeat:no-repeat !important;background-position:center !important;}
.main_banner .main_banner_img img {position:absolute;top:50%;left:0;transform: translateX(-50%);}
.main_banner .main_banner_img .slick-dots {position:absolute;bottom:0;left:50%;transform:translateX(-50%);display: flex !important;justify-content: center;}
.main_banner .main_banner_img .slick-dots li {border:0;margin:0 18px;padding:0;}
.main_banner .main_banner_img .slick-dots li button {width:12px;height:12px;text-indent:-99999px;display:block;background:#fff;border:0;margin:0;padding:0;border-radius:50px;}
.main_banner .main_banner_img .slick-dots li.slick-active button {width:46px;}

.main_banner .main_banner_txt {position:absolute;top: 50%;left:50%;transform: translate(-50%,-50%);z-index:1;text-align:center;width: auto;height:auto;text-align:center; color:#fff;}
.main_banner .main_banner_txt img {margin-bottom:;}